<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cleaning Supplies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-label color="primary">Choose a product</ion-label>
  <ion-grid>
    <ion-row>
        <ion-col size="6" *ngFor="let product of primary_products">
            <ion-card>
                <ion-img [src]=product.imagen></ion-img>
                <ion-label>product.name</ion-label>
            </ion-card>
        </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
